<p>This application is a test setup which is supposed to simulate a webshop offering tailored suits for hippos. We at TailorYourHippo are convinced that this is the market of the future. <br>
Oviously our suits are all produced with the finest vegan, fair trade, organic fabrics by specialized hippo tailors in Romania. <br>
Don't let your hippo just wear anything. We make your hippo happy!
</p>
