<div class="row">
  <div class="col-md-4 col-xs-12">
    <h2 class="about-headline">About us</h2>
    <div class="column-image">
      <%= image_tag("workshop.jpg", alt: "Grandpa", class: "about_image") %>
    </div>
    <p>My family has been fixing and assembling bikes sinces the early 19th century (that's my grandpa on the left). Now it's up to me to keep the family business running.</p>
    </div>
   <div class="col-md-4 col-xs-12">
    <h2 class="about-headline">Philosphy</h2>
    <div class="column-image">
      <%= image_tag("philosophy.jpg", alt: "Life", class: "about_image") %>
    </div>
    <p>That's what I do all day...philosophying (is that a word?)about all the bikes that I can put together for my customers.</p>
    </div>
  <div class="col-md-4 col-xs-12">
    <h2 class="about-headline">Our Team</h2>
    <div class="column-image">
      <%= image_tag("team.jpg", alt: "Marco", class: "about_image") %>
    </div>
    <p>Basically this whole shop is being run by only one person...me...Marco. I'm responsible for the website and do all the work on the bikes to make them pretty and ready for all needs.</p>
  </div>
</div>

