<h3>Contact</h3>
  <ul>
      <li>Marco Steffensky</li>
      <li><Boddinstrasse 20 // 12053 Berlin</li>
      <li>+49 176 72468090</li>
  </ul>

Please get in touch with me any time, unless its <%= Time.now %>
