<body>
  <div class="container carousel" id="home">
      <!-- Example row of columns -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag("bike1.jpg", :alt => "Bianchi") %>
          <div class="carousel-caption">
            <h3>The best Roadbikes in town</h3>
          </div>
        </div>
        <div class="item">
          <%= image_tag("bike2.jpg", :alt => "Peugeot") %>
          <div class="carousel-caption">
            <h3>Vintage and modern</h3>
          </div>
        </div>
        <div class="item">
       <%= image_tag("bike3.jpg", :alt => "Peugeot") %>
          <div class="carousel-caption">
            <h3>Custom built</h3>
          </div>
        </div>
        <div class="item">
       <%= image_tag("bike4.jpg", :alt => "Peugeot") %>
          <div class="carousel-caption">
            <h3>Best service</h3>
          </div>
        </div>
      </div>
    </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </body>
