<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table>
      <tbody>
        <tr>
          <td><p>You have received a new contact form message. The contents of the message are:</p></td>
        </tr>
        <tr>
          <td><p><%= @message %></p></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
