// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack: 'Inconsolata', Helvetica, sans-serif;
$primary-color: #CFA600;
$secondary-color: #194719;
$third-color: #474747;

.container {
  width: 80%;
  margin: 10px auto;
}

.btn-default:hover {
  background: $secondary-color;
  color: white;
}

.product-list {
  margin-top: 25px;
}

.product-name {
  text-align: center;
}

.product-price {
  text-align: center;
  font-weight: bold;
  color: $secondary-color;
}

.show_details {
  margin-top: 40px;
}

.show_details > h3{
  margin-bottom: 50px;
}

.new-product {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.list_image_index {
  margin: 15px auto;
  display: block;
  width: 75%;
}

.list_image_show {
  width: 75%;
}

.review_field {
  margin-top: 100px;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

.btn-group {
  margin: 5px auto;
  display: table;
}

.btn a {
  color: white;
}

.btn a:visited {
  color: white;
}

.button-text a {
  color: $secondary-color;
  margin-right: 10px;
  margin-top: 10px;
}

.button-text:hover {
  color: $primary-color;
  background: transparent;
  text-decoration: none;
}

.btn-xs {
  width: 60px;
}

.form-label {
  color: $primary-color;
  font-size: 1.2em;
}

.glyphicon-align {
  text-align: center;
  margin-top: 10px;
}

.pagination {
  display: table;
  margin: 5px auto;
}

.pagination>.active>span {
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.pagination>.active>span:hover {
  background-color: $primary-color;
  border-color: $primary-color;
}

.pagination>li>a {
  color: $secondary-color;
}

.payment-button,
.update-button {
  margin-top: 10px;
}

@media (max-width:768px) {
  .list_image_show {
    width: 100%;
    clear: both;
  }
}

