// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack: 'Inconsolata', Helvetica, sans-serif;
$primary-color: #CFA600;
$secondary-color: #194719;
$third-color: #303030;
$align: center;

html, body {
  font-family: $font-stack;
  color: $third-color;
  height: 100%;
}

h1 {
  margin-top: 30px;
  font: 2em;
  color: $secondary-color;
  text-align: center;
}

h2 {
  font: 2em $font-stack;
  color: $primary-color;
}

h3 {
  color: $secondary-color;
}


p {
  color: $third-color;
}

ul {
  list-style-type: none;
}

#wrap {
  min-height: 100%
}

#main {
  overflow: auto;
  padding-top: 50px;
}

.headline h1,
.headline h2 {
  text-align: $align;
}

.notice {
  color: green;
}

.navbar {
   background-color: transparent;
   border-color: transparent;
}

.navbar .nav {
  margin-right: 30px;
}

.navbar .nav > li > a {
  margin-top: 5px;
  text-transform: uppercase;
  color: $secondary-color;
  letter-spacing: 0.05em;
}

.navbar .nav > li > a:hover {
  color: #CFA600;
}

.navbar-inverse .navbar-toggle {
  border-color: #fff;
}

.navbar-header {
  background-color: $secondary-color;
}

.navbar-form {
  float: left;
  position: relative;
  top: 4px;
}

.logo {
  position: relative;
  color: $secondary-color;
  top: -4px;
  text-transform: uppercase;
  left: 10px;
  margin-right: 20px;
  float: right;
}

.dropdown {
  width:200px;
}
.dropdown-menu>li>a {
  color: $secondary-color;
}

.dropdown-menu>li>a:hover {
  color: $primary-color;
  background-color: transparent;
}

.dropdown ul.dropdown-menu {
  border-radius:4px;
  box-shadow:none;
  width:200px;
}
.dropdown ul.dropdown-menu:before {
  content: "";
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  left: 16px;
  z-index: 10;
}
.dropdown ul.dropdown-menu:after {
  content: "";
  border-bottom: 12px solid #ccc;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  position: absolute;
  top: -12px;
  left: 14px;
  z-index: 9;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
  background-color: transparent;
  color: $secondary-color;
}

.carousel {
  margin: 0px;
  width: 100%;
}

.about_image {
  display: block;
  margin: 0 auto;
}

.carousel-caption {
  color: $secondary-color;
  text-shadow: none;
  bottom: 5px;
  padding-bottom: 0px;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}
.about-headline {
  text-align: center;
  text-transform: uppercase;
}

.column-image img {
  margin: 20px 0;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.row p {
  text-align: justify;
}

.footer {
  background-color: #194719;
  position: relative;
  color: white;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  padding-top: 15px;
  clear: both;
}

footer p {
  width: auto;
  float: left;
  color: white;
  padding-left: 20px;
}

.social-button {
  float: right;
  padding-right: 20px;
}

.social-button a {
  color: white;
}
.fb-like {
  position: relative;
  top: -1px;
  margin-left: 10px;
}

.carousel-control:hover {
  background-color: transparent;
}

.carousel-indicators li,
.carousel-indicators .active {
  background-color: $secondary-color;
}

.form-group {
  margin-top: 8px;
}

.form-control {
  height: 20px;
}

.glyphicon-search {
  color: gray;
  position: relative;
  top: 3px;
}

#message {
  margin-bottom: 20px;
}

.adress {
  padding-top: 10px;
}

.thankyou-picture {
  width: 100%;
}

.panel-default {
  border-color: transparent;
}

.fb-like.fb_iframe_widget {
  top: -5px;
}

@media (max-width:768px) {
  .logo {
    float:left;
    padding-top: 10px;
    color: white;
  }
  .copyright {
    font-size: 0.8em;
  }
  .footer {
    height: 80px;
  }
  .social-button {
    float: left;
    padding-left: 20px;
  }
  .navbar .nav > li > a {
    color: white;
  }
  .navbar {
   background-color: $secondary-color;
   border-color: $secondary-color;
  }
  .container {
    width: 100%;
    margin: 5px auto;
}
}
