// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack: 'Inconsolata', Helvetica, sans-serif;
$primary-color: #CFA600;
$secondary-color: #194719;
$third-color: #303030;
$align: center;

html, body {
  font-family: $font-stack;
  color: $third-color;
  height: 100%;
}

h1 {
  margin-top: 30px;
  font: 2em;
  color: $secondary-color;
  text-align: center;
}

h2 {
  font: 2em $font-stack;
  color: $primary-color;
}

h3 {
  color: $secondary-color;
}


p {
  color: $third-color;
}

ul {
  list-style-type: none;
}

#wrap {
  min-height: 100%
}

#main {
  overflow: auto;
  padding-top: 50px;
}

.headline h1,
.headline h2 {
  text-align: $align;
}

.notice {
  color: green;
}

.navbar {
  background-color: $secondary-color;
  border: none;
}

.navbar-collapse {
  width: 100%;
}

.navbar .nav {
  margin-right: -2em;
}

.navbar .nav > li > a {
  margin-top: 5px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.05em;
}

.navbar .nav > li > a:hover {
  color: #CFA600;
}

.navbar-inverse .navbar-toggle {
  border-color: #fff;
}

.navbar-header {
  border: none;
}

.logo-mobile {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  display: none;
}

.logo-full-width {
  position: relative;
  color: #fff;
  top: -4px;
  text-transform: uppercase;
  float: right;
  margin-left: 30px;
  margin-right: 15px;
}

.navbar-form {
  float: left;
  position: relative;
  top: 4px;
}

.glyphicon-search {
  color: #fff;
  position: relative;
  top: 3px;
}

.dropdown-menu>li>a {
  color: $secondary-color;
}

.dropdown-menu>li>a:hover {
  color: $primary-color;
  background-color: transparent;
}

.dropdown ul.dropdown-menu {
  border-radius:4px;
  box-shadow:none;
  width:200px;
}
.dropdown ul.dropdown-menu:before {
  content: "";
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  left: 16px;
  z-index: 10;
}
.dropdown ul.dropdown-menu:after {
  content: "";
  border-bottom: 12px solid #ccc;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  position: absolute;
  top: -10px;
  left: 16px;
  z-index: 9;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
  background-color: transparent;
  color: #fff;
}

.carousel {
  margin: 0px;
  width: 100%;
}

.about_image {
  display: block;
  margin: 0 auto;
}

.carousel-caption {
  color: $primary-color;
  text-shadow: none;
  bottom: 5px;
  padding-bottom: 0px;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.carousel-control:hover {
  background-color: transparent;
}

.carousel-indicators li,
.carousel-indicators .active {
  background-color: $secondary-color;
}

.about-headline {
  text-align: center;
  text-transform: uppercase;
}

.column-image img {
  margin: 20px 0;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.row p {
  text-align: justify;
}

.footer {
  background-color: #194719;
  position: relative;
  color: white;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  padding-top: 15px;
  clear: both;
}

footer p {
  width: auto;
  float: left;
  color: white;
  padding-left: 20px;
}

.social-button {
  float: right;
  padding-right: 20px;
  position: relative;
  top: -5%;
}

.social-button a {
  color: white;
}

.form-group {
  margin-top: 8px;
}

.form-control {
  height: 20px;
}

#message {
  margin-bottom: 20px;
}

.adress {
  padding-top: 10px;
}

.thankyou-picture {
  width: 100%;
}

.panel-default {
  border-color: transparent;
}




@media (max-width:768px) {

  .logo-full-width {
  display: none;
  }

  .footer {
    height: 60px;
  }

  .copyright {
    font-size: 0.8em;
    position: relative;
    top: 0;
    width: 60%;
    margin-bottom: 0;
  }

  .social-button {
    top: 4%;
  }

  .container {
    width: 100%;
    margin: 5px auto;
  }

  .logo-mobile {
    display: block;
    margin-left: 30px;
  }

  .container-fluid > .navbar-collapse {
    margin-left: 0;
    border-top: none;
  }

  .dropdown-menu {
    width: 100px;
    float: right;
  }
  
  .dropdown ul.dropdown-menu:before,
  .dropdown ul.dropdown-menu:after {
    border: none;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    color: $primary-color;
    background-color: transparent;
  }

  .navbar-form {
    float: right;
  }

  .form-group {
    float: left;
  }

  .search-input {
    width: 80%;
    float: right;
  }

  .navbar-inverse .navbar-form {
    border: none;
    float: left;
    margin-top: 0;
  }

  .divider {
    display: none;
  }

  .name,
  .email,
  .message {
    width: 100%;
  }

  .address ul,
  .address iframe {
    text-align: center;
    padding-left: 0;
    padding-bottom: 20px;
    display: block;
    margin: 0 auto;
  }
}
