<h1>Our Bikes</h1>
  <div class="container">
    <div class="row">
      <%= render @products %>
    </div>
    <div class="new-product row">
      <div class="col-md-2 col-xs-12">
        <%= link_to 'New Product', new_product_path, :class => "btn btn-default" %>
      </div>
    </div>
  </div>
